#rayo{
  position: relative;
  float: left;
  z-index: 1;
  top: 50px;
  margin-left: 20px;
  animation-name: anim1;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;

  -webkit-animation-name: anim1;
  -webkit-animation-duration: 4s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;

  -moz-animation-name: anim1;
  -moz-animation-duration: 4s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;
  -moz-animation-direction: alternate;
}
@keyframes anim1
{
  20% { top: 690px; transform:rotate(180deg); }
  40% { top:5px;  transform:rotate(360deg); }
  60% { top:690px;  transform:rotate(180deg);}
  80% { top: 5px;  transform:rotate(360deg); }
  100% { top:690px;  transform:rotate(180deg); }
}

@-webkit-keyframes anim1
{
  20% { top: 690px;  -webkit-transform:rotate(180deg); }
  40% { top: 5px;  -webkit-transform:rotate(360deg); }
  60% { top: 690px; -webkit-transform:rotate(180deg);}
  80% { top: 5; -webkit-transform:rotate(360deg); }
  100% { top: 690px; -webkit-transform:rotate(180deg); }
}

@-moz-keyframes anim1
{
  20% { top: 690px;  -moz-transform:rotate(180deg); }
  40% { top: 5px;  -moz-transform:rotate(360deg); }
  60% { top: 690px;  -moz-transform:rotate(180deg);}
  80% { top: 5px; -moz-transform:rotate(360deg); }
  100% { top: 690px; -moz-transform:rotate(180deg); }
}
table, th, td
{
  z-index: 100;
  width: 700px;
  margin-left: 400px;
  margin-top: 20px;
  border: 2px solid black;
  padding:10px;
}
th
{
  text-align: center;
  background-color: #efa204fc;
  color:black;
}
.par
{
  background-color: #333;
  color:white;
}
.giraactual{
  font-size: 18px;
}
.masinformacion{
  margin-top: 10px;
}
