#cuerpo{
  height: 800px;
}
.img{
  border: 3px solid black;
  margin-right: 10px;
  float: left;
  width: 100px;
  height: 150px;
}
.miembro1{
  margin-left: 15px;
  margin-top: 20px;
  border-top: solid 3px black;
  border-radius: 10px;
}
.miembro2{
  margin-left: 15px;
  margin-top: 60px;
  border-top: solid 3px black;
  border-radius: 10px;
}
.miembro3{
  margin-left: 15px;
  margin-top: 60px;
  border-top: solid 3px black;
  border-radius: 10px;
}
.miembro4{
  margin-left: 15px;
  margin-top: 30px;
  border-top: solid 3px black;
  border-radius: 10px;
}
.texto{
  font-size: 18px;
  text-align: justify;
  width: 1450px;
}
